<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Server API" stopProcessing="true">
					<match url="^server/(.*)$" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="/server/index.php?q={R:1}" appendQueryString="true" />
				</rule>
				<rule name="Main" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
						<add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php?q={R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
		<!-- HTTP Errors section should only be enabled if the "Error Pages"
		feature has been delegated as "Read/Write" at the Web Server level.
		<httpErrors>
		<remove statusCode="404" subStatusCode="-1" />
		<error statusCode="404" prefixLanguageFilePath="" path="/notfound.html" responseMode="ExecuteURL" />
		</httpErrors>
		-->
	</system.webServer>
</configuration>